* text=auto
*.py text eol=lf
*.FCMacro text eol=lf
*.md text eol=lf
*.json text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.svg text eol=lf
*.csv text eol=lf
*.FCStd binary
*.step binary
*.glb binary
*.pdf binary
*.ttf binary
devices/*/output/** linguist-generated=true
site/public/** linguist-generated=true
licenses/** linguist-vendored=true
